[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	conflicts = !git ls-files -u | cut -f 2 | sort -u
	d = difftool
[github]
	user = starsinmypockets
[user]
	email = starsinmypockets@gmail.com
	name = Paul Walker
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
